
@{
    Layout = null;
}

<h3>MVC KAMP TABLO ÖRNEĞİ - KATEORİ</h3>
<br/>
<table>
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>
    <tr>
        <td>1</td>
        <td>EĞİTİM</td>
        <td>AÇIKLAMA YAPILDI</td>
        <td>TRUE</td>
    </tr>
    tr>
    <td>2</td>
    <td>SPOR</td>
    <td>AÇIKLAMA YAPILDI</td>
    <td>TRUE</td>
    </tr>
</table>